.fullscreen-image {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    /* filter: blur(); */
    overflow: hidden; 
    background-Image: url('images/ViewRecords/img1.svg');
    background-size: cover; 
    background-position: center; 
  }
  